.contact-details-form {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2, h3 {
    text-align: left;
    color: #333;
    margin-bottom: 20px;
  }
  
  .contact-details-form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    text-align: left;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input:focus, select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .input-with-iconss {
    display: flex;
    align-items: center;
  }
  
  .input-with-iconss .country-code {
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    color: #555;
  }
  
  .input-with-iconss input {
    flex: 1;
    border-radius: 0 5px 5px 0;
    border-left: none;
  }
  
  .info-note p {
    font-size: 14px;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    padding: 10px;
    border-radius: 5px;
    color: #856404;
  }
  
  .conact-form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  

  
  button.conact-back-button {
    background-color: #6c757d;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: #f9f9f9;
  }
  
  button.conact-continue-button {
    background-color: #007bff;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: #f9f9f9;
  }
  
  /* button:hover {
    opacity: 0.9;
  } */
  